backup nightly flow.json
[
    {
        "id": "e90ee29.2300d2",
        "type": "tab",
        "label": "Backup Nightly",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a9dacec6.997bd",
        "type": "inject",
        "z": "e90ee29.2300d2",
        "name": "Nightly",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "00 03 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 160,
        "y": 120,
        "wires": [
            [
                "5cede7a5.d32318"
            ]
        ]
    },
    {
        "id": "b863601.14316a",
        "type": "api-call-service",
        "z": "e90ee29.2300d2",
        "name": "Automate backup",
        "server": "8c4c7e11.df75e",
        "version": 1,
        "service_domain": "hassio",
        "service": "snapshot_full",
        "entityId": "",
        "data": "{}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 650,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "5cede7a5.d32318",
        "type": "function",
        "z": "e90ee29.2300d2",
        "name": "Generate Name",
        "func": "msg.payload =\n{\n    \"data\":\n    {\n        \"name\": \"Automatic Backup \" + new Date().toLocaleString(\"en-US\").split(',')[0].replace(/\\//g,'_')\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 380,
        "y": 120,
        "wires": [
            [
                "b863601.14316a"
            ]
        ]
    },
    {
        "id": "8c4c7e11.df75e",
        "type": "server",
        "z": "",
        "name": "Home Assistant"
    }
]