cat litter flow.json
[
    {
        "id": "33a31ed0.f615c2",
        "type": "tab",
        "label": "Cat litter flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2da6b23d.7e943e",
        "type": "function",
        "z": "33a31ed0.f615c2",
        "name": "Prepare IFTTT push notification for SHE",
        "func": "msg.payload = {};\nmsg.payload.value1 = \"Limpia el arenero!\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1100,
        "y": 200,
        "wires": [
            [
                "9ccc95d3.424258"
            ]
        ]
    },
    {
        "id": "9ccc95d3.424258",
        "type": "ifttt out",
        "z": "33a31ed0.f615c2",
        "eventName": "HassInfoNotification",
        "key": "14e9b48f.e2551b",
        "x": 1380,
        "y": 200,
        "wires": []
    },
    {
        "id": "62409555.80f69c",
        "type": "stoptimer",
        "z": "33a31ed0.f615c2",
        "duration": "6",
        "units": "Hour",
        "payloadtype": "num",
        "payloadval": "0",
        "name": "",
        "x": 710,
        "y": 280,
        "wires": [
            [
                "5227378d.cf4f28"
            ],
            []
        ]
    },
    {
        "id": "f4c2e022.a1246",
        "type": "inject",
        "z": "33a31ed0.f615c2",
        "name": "Reset cat litter boolean",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "00 00 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 170,
        "y": 40,
        "wires": [
            [
                "884805b8.8dbdb8"
            ]
        ]
    },
    {
        "id": "884805b8.8dbdb8",
        "type": "api-call-service",
        "z": "33a31ed0.f615c2",
        "name": "Reset cat litter is clean",
        "server": "8c4c7e11.df75e",
        "version": 1,
        "service_domain": "input_boolean",
        "service": "turn_on",
        "entityId": "input_boolean.litter_is_not_clean",
        "data": "{\"entity_id\":\"input_boolean.litter_is_not_clean\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 420,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "13853669.d4b2ea",
        "type": "api-current-state",
        "z": "33a31ed0.f615c2",
        "name": "Needs cleaning?",
        "server": "8c4c7e11.df75e",
        "version": 1,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "input_boolean.litter_is_not_clean",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 770,
        "y": 200,
        "wires": [
            [
                "2da6b23d.7e943e",
                "62409555.80f69c"
            ],
            []
        ]
    },
    {
        "id": "fa99ea89.0d6a98",
        "type": "api-current-state",
        "z": "33a31ed0.f615c2",
        "name": "On vacation?",
        "server": "8c4c7e11.df75e",
        "version": 1,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "input_boolean.is_on_holiday",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 550,
        "y": 200,
        "wires": [
            [],
            [
                "13853669.d4b2ea"
            ]
        ]
    },
    {
        "id": "8fd3f66c.eaa668",
        "type": "bigtimer",
        "z": "33a31ed0.f615c2",
        "outtopic": "",
        "outpayload1": "on",
        "outpayload2": "",
        "name": "Cat litter timer SHE",
        "comment": "",
        "lat": "40.552508",
        "lon": "-3.896616",
        "starttime": "555",
        "endtime": "570",
        "starttime2": 0,
        "endtime2": 0,
        "startoff": "0",
        "endoff": 0,
        "startoff2": 0,
        "endoff2": 0,
        "offs": 0,
        "outtext1": "",
        "outtext2": "",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "day6": 0,
        "month6": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": 0,
        "w6": 0,
        "xday1": 0,
        "xmonth1": 0,
        "xday2": 0,
        "xmonth2": 0,
        "xday3": 0,
        "xmonth3": 0,
        "xday4": 0,
        "xmonth4": 0,
        "xday5": 0,
        "xmonth5": 0,
        "xday6": 0,
        "xmonth6": 0,
        "xd1": 0,
        "xw1": 0,
        "xd2": 0,
        "xw2": 0,
        "xd3": 0,
        "xw3": 0,
        "xd4": 0,
        "xw4": 0,
        "xd5": 0,
        "xw5": 0,
        "xd6": 0,
        "xw6": 0,
        "suspend": false,
        "random": false,
        "repeat": false,
        "atstart": true,
        "odd": false,
        "even": true,
        "x": 350,
        "y": 200,
        "wires": [
            [
                "fa99ea89.0d6a98"
            ],
            [],
            []
        ]
    },
    {
        "id": "6e2ccfc.ba2353",
        "type": "api-current-state",
        "z": "33a31ed0.f615c2",
        "name": "Needs cleaning?",
        "server": "8c4c7e11.df75e",
        "version": 1,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "input_boolean.litter_is_not_clean",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 1150,
        "y": 280,
        "wires": [
            [
                "2da6b23d.7e943e"
            ],
            []
        ]
    },
    {
        "id": "5227378d.cf4f28",
        "type": "ha-wait-until",
        "z": "33a31ed0.f615c2",
        "name": "Wait until SHE is back home",
        "server": "8c4c7e11.df75e",
        "outputs": 1,
        "entityId": "device_tracker.google_maps_123",
        "property": "state",
        "comparator": "is",
        "value": "home",
        "valueType": "str",
        "timeout": 0,
        "timeoutUnits": "seconds",
        "entityLocation": "",
        "entityLocationType": "none",
        "checkCurrentState": true,
        "blockInputOverrides": true,
        "x": 920,
        "y": 280,
        "wires": [
            [
                "6e2ccfc.ba2353"
            ]
        ]
    },
    {
        "id": "62a395a4.3ed16c",
        "type": "function",
        "z": "33a31ed0.f615c2",
        "name": "Prepare IFTTT push notification for HE",
        "func": "msg.payload = {};\nmsg.payload.value1 = \"Limpia el arenero!\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1120,
        "y": 360,
        "wires": [
            [
                "404133b.4a78dcc"
            ]
        ]
    },
    {
        "id": "fff55d10.9e99e",
        "type": "stoptimer",
        "z": "33a31ed0.f615c2",
        "duration": "6",
        "units": "Hour",
        "payloadtype": "num",
        "payloadval": "0",
        "name": "",
        "x": 730,
        "y": 440,
        "wires": [
            [
                "cddda591.675de8"
            ],
            []
        ]
    },
    {
        "id": "2766b39b.ecf75c",
        "type": "api-current-state",
        "z": "33a31ed0.f615c2",
        "name": "Needs cleaning?",
        "server": "8c4c7e11.df75e",
        "version": 1,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "input_boolean.litter_is_not_clean",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 790,
        "y": 360,
        "wires": [
            [
                "62a395a4.3ed16c",
                "fff55d10.9e99e"
            ],
            []
        ]
    },
    {
        "id": "a20e4ef5.998a2",
        "type": "api-current-state",
        "z": "33a31ed0.f615c2",
        "name": "On vacation?",
        "server": "8c4c7e11.df75e",
        "version": 1,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "input_boolean.is_on_holiday",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 570,
        "y": 360,
        "wires": [
            [
                "13853669.d4b2ea"
            ],
            [
                "2766b39b.ecf75c"
            ]
        ]
    },
    {
        "id": "5589a9a2.6ca2f8",
        "type": "bigtimer",
        "z": "33a31ed0.f615c2",
        "outtopic": "",
        "outpayload1": "on",
        "outpayload2": "",
        "name": "Cat litter timer HE",
        "comment": "",
        "lat": "40.552508",
        "lon": "-3.896616",
        "starttime": "540",
        "endtime": "555",
        "starttime2": 0,
        "endtime2": 0,
        "startoff": "0",
        "endoff": 0,
        "startoff2": 0,
        "endoff2": 0,
        "offs": 0,
        "outtext1": "",
        "outtext2": "",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "day6": 0,
        "month6": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": 0,
        "w6": 0,
        "xday1": 0,
        "xmonth1": 0,
        "xday2": 0,
        "xmonth2": 0,
        "xday3": 0,
        "xmonth3": 0,
        "xday4": 0,
        "xmonth4": 0,
        "xday5": 0,
        "xmonth5": 0,
        "xday6": 0,
        "xmonth6": 0,
        "xd1": 0,
        "xw1": 0,
        "xd2": 0,
        "xw2": 0,
        "xd3": 0,
        "xw3": 0,
        "xd4": 0,
        "xw4": 0,
        "xd5": 0,
        "xw5": 0,
        "xd6": 0,
        "xw6": 0,
        "suspend": false,
        "random": false,
        "repeat": false,
        "atstart": true,
        "odd": true,
        "even": false,
        "x": 370,
        "y": 360,
        "wires": [
            [
                "a20e4ef5.998a2"
            ],
            [],
            []
        ]
    },
    {
        "id": "50ce934f.4150fc",
        "type": "api-current-state",
        "z": "33a31ed0.f615c2",
        "name": "Needs cleaning?",
        "server": "8c4c7e11.df75e",
        "version": 1,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "input_boolean.litter_is_not_clean",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 1170,
        "y": 440,
        "wires": [
            [
                "62a395a4.3ed16c"
            ],
            []
        ]
    },
    {
        "id": "cddda591.675de8",
        "type": "ha-wait-until",
        "z": "33a31ed0.f615c2",
        "name": "Wait until HE is back home",
        "server": "8c4c7e11.df75e",
        "outputs": 1,
        "entityId": "device_tracker.google_maps_456",
        "property": "state",
        "comparator": "is",
        "value": "home",
        "valueType": "str",
        "timeout": 0,
        "timeoutUnits": "seconds",
        "entityLocation": "",
        "entityLocationType": "none",
        "checkCurrentState": true,
        "blockInputOverrides": true,
        "x": 940,
        "y": 440,
        "wires": [
            [
                "50ce934f.4150fc"
            ]
        ]
    },
    {
        "id": "404133b.4a78dcc",
        "type": "ifttt out",
        "z": "33a31ed0.f615c2",
        "eventName": "HassInfoNotification",
        "key": "64bb67ca.f0d218",
        "x": 1400,
        "y": 360,
        "wires": []
    },
    {
        "id": "9bfbd0ee.2acb2",
        "type": "server-state-changed",
        "z": "33a31ed0.f615c2",
        "name": "Cat littler needs cleaning state change",
        "server": "8c4c7e11.df75e",
        "version": 1,
        "entityidfilter": "input_boolean.litter_is_not_clean",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 170,
        "y": 140,
        "wires": [
            [
                "74a6935f.84b77c"
            ]
        ]
    },
    {
        "id": "74a6935f.84b77c",
        "type": "function",
        "z": "33a31ed0.f615c2",
        "name": "Stop or start the timer",
        "func": "if(msg.payload == \"off\")\n    msg.payload = \"stop\";\nelse\n    msg.payload = \"auto\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 120,
        "y": 200,
        "wires": [
            [
                "8fd3f66c.eaa668",
                "5589a9a2.6ca2f8",
                "62409555.80f69c",
                "fff55d10.9e99e"
            ]
        ]
    },
    {
        "id": "14e9b48f.e2551b",
        "type": "ifttt-key",
        "z": ""
    },
    {
        "id": "8c4c7e11.df75e",
        "type": "server",
        "z": "",
        "name": "Home Assistant"
    },
    {
        "id": "64bb67ca.f0d218",
        "type": "ifttt-key",
        "z": ""
    }
]