dash button flow.json
[
    {
        "id": "f691377a.d344d8",
        "type": "tab",
        "label": "Dash Button Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "fcc08319.28105",
        "type": "mqtt in",
        "z": "f691377a.d344d8",
        "name": "Guest shades MQTT listener",
        "topic": "cmnd/shades/power",
        "qos": "1",
        "datatype": "auto",
        "broker": "000000",
        "x": 140,
        "y": 80,
        "wires": [
            [
                "197df083.d0fd9f"
            ]
        ]
    },
    {
        "id": "a4c86279.c2ccf",
        "type": "api-call-service",
        "z": "f691377a.d344d8",
        "name": "Set IsOpen to on",
        "server": "8c4c7e11.df75e",
        "version": 1,
        "service_domain": "input_boolean",
        "service": "turn_on",
        "entityId": "input_boolean.are_shades_open",
        "data": "{\"entity_id\":\"input_boolean.are_shades_open\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 690,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "197df083.d0fd9f",
        "type": "switch",
        "z": "f691377a.d344d8",
        "name": "Opening or closing?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "OPEN",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "CLOSE",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 460,
        "y": 80,
        "wires": [
            [
                "a4c86279.c2ccf"
            ],
            [
                "f3168c9d.536ae"
            ]
        ]
    },
    {
        "id": "f3168c9d.536ae",
        "type": "api-call-service",
        "z": "f691377a.d344d8",
        "name": "Set IsOpen to off",
        "server": "8c4c7e11.df75e",
        "version": 1,
        "service_domain": "input_boolean",
        "service": "turn_off",
        "entityId": "input_boolean.are_shades_open",
        "data": "{\"entity_id\":\"input_boolean.are_shades_open\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 690,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "cfb4204b.ee9e9",
        "type": "server-state-changed",
        "z": "f691377a.d344d8",
        "name": "Dash Button click event",
        "server": "8c4c7e11.df75e",
        "version": 1,
        "entityidfilter": "input_boolean.dashbutton",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 120,
        "y": 180,
        "wires": [
            [
                "183ff24a.2241fe"
            ]
        ]
    },
    {
        "id": "183ff24a.2241fe",
        "type": "api-current-state",
        "z": "f691377a.d344d8",
        "name": "IsOpen?",
        "server": "8c4c7e11.df75e",
        "version": 1,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "input_boolean.are_shades_open",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 320,
        "y": 180,
        "wires": [
            [
                "44ca476c.155d58"
            ],
            [
                "e958de7d.bd769"
            ]
        ]
    },
    {
        "id": "e958de7d.bd769",
        "type": "api-call-service",
        "z": "f691377a.d344d8",
        "name": "Set IsOpen to on",
        "server": "8c4c7e11.df75e",
        "version": 1,
        "service_domain": "input_boolean",
        "service": "turn_on",
        "entityId": "input_boolean.are_shades_open",
        "data": "{\"entity_id\":\"input_boolean.are_shades_open\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 490,
        "y": 220,
        "wires": [
            [
                "dc25c0e3.91f89"
            ]
        ]
    },
    {
        "id": "44ca476c.155d58",
        "type": "api-call-service",
        "z": "f691377a.d344d8",
        "name": "Set IsOpen to off",
        "server": "8c4c7e11.df75e",
        "version": 1,
        "service_domain": "input_boolean",
        "service": "turn_off",
        "entityId": "input_boolean.are_shades_open",
        "data": "{\"entity_id\":\"input_boolean.are_shades_open\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 490,
        "y": 160,
        "wires": [
            [
                "145e1d1a.4f4f83"
            ]
        ]
    },
    {
        "id": "dc25c0e3.91f89",
        "type": "api-call-service",
        "z": "f691377a.d344d8",
        "name": "Guest Shade Open",
        "server": "8c4c7e11.df75e",
        "version": 1,
        "service_domain": "cover",
        "service": "open_cover",
        "entityId": "cover.shades",
        "data": "{\"entity_id\":\"cover.shades\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": true,
        "x": 690,
        "y": 220,
        "wires": [
            [
                "e98356d6.71ab88"
            ]
        ]
    },
    {
        "id": "145e1d1a.4f4f83",
        "type": "api-call-service",
        "z": "f691377a.d344d8",
        "name": "Guest Shade Close",
        "server": "8c4c7e11.df75e",
        "version": 1,
        "service_domain": "cover",
        "service": "close_cover",
        "entityId": "cover.shades",
        "data": "{\"entity_id\":\"cover.shades\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 690,
        "y": 160,
        "wires": [
            [
                "5e6a132c.c4ebbc"
            ]
        ]
    },
    {
        "id": "5e6a132c.c4ebbc",
        "type": "function",
        "z": "f691377a.d344d8",
        "name": "Prepare IFTTT push notification",
        "func": "msg.payload = {};\nmsg.payload.value1 = \"DashButton shades closing\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 950,
        "y": 160,
        "wires": [
            [
                "e2c29b52.0a9e38",
                "606c1bba.292f34"
            ]
        ]
    },
    {
        "id": "e98356d6.71ab88",
        "type": "function",
        "z": "f691377a.d344d8",
        "name": "Prepare IFTTT push notification",
        "func": "msg.payload = {}\nmsg.payload.value1 = \"DashButton shades opening\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 950,
        "y": 220,
        "wires": [
            [
                "e2c29b52.0a9e38",
                "606c1bba.292f34"
            ]
        ]
    },
    {
        "id": "e2c29b52.0a9e38",
        "type": "ifttt out",
        "z": "f691377a.d344d8",
        "eventName": "HassInfoNotification",
        "key": "14e9b48f.e2551b",
        "x": 1240,
        "y": 160,
        "wires": []
    },
    {
        "id": "606c1bba.292f34",
        "type": "ifttt out",
        "z": "f691377a.d344d8",
        "eventName": "HassInfoNotification",
        "key": "64bb67ca.f0d218",
        "x": 1240,
        "y": 200,
        "wires": []
    },
    {
        "id": "9578554a.70e298",
        "type": "mqtt-broker",
        "z": "",
        "name": "MQTT HASS",
        "broker": "X.X.X.X",
        "port": "XXXX",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "8c4c7e11.df75e",
        "type": "server",
        "z": "",
        "name": "Home Assistant"
    },
    {
        "id": "14e9b48f.e2551b",
        "type": "ifttt-key",
        "z": ""
    },
    {
        "id": "64bb67ca.f0d218",
        "type": "ifttt-key",
        "z": ""
    }
]